<div class="footer">
  <a href="https://www.fl.ru/users/vadja-booom">ФЛ</a>
  <a href="https://www.instagram.com/code.overload/">Инстаграм</a>
  <a href="https://vk.com/vadja.booom/">Вконтакте</a>
  <a href="mailto:vmp@live.ru">Емэйл</a>
  <div class="footer__copyrights">
    &copy; 2018
  </div>
</div>