<meta name="yandex-verification" content="35544c9ac76d0e75" />
<meta name="google-site-verification" content="ys5FSsQFhwE2i4eScU8LlpU6A9guSr27WS6G-Cs__oU" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Вадим Пашаев | Фуллстек веб-девелопер. Проектирование сайтов и веб-приложений. Обучение программированию на JavaScript. Заметки Фуллстек Девелопера.">
<title>Вадим Пашаев</title>
<link rel="stylesheet" href="/css/main.css">