<div class="menu-container">
  <div class="menu">
    <div class="menu__left">
      <a href="/" style="border-bottom: none;"><div class="logo"></div></a>

      <div class="menu-line">
        <div class="menu-line__top">
          <h1 class="menu-line__title">Вадим Пашаев</h1>
            
        </div>
        <div class="menu-line__bottom">
          <p class="menu-line__subtitle">Записки фуллстэк разработчика</p>
        </div>
      </div>
    </div>
    <div class="menu__right">
      <div class="menu-block">
        <!-- <a href="#" class="menu-block__item">Проекты</a>
        <a href="#" class="menu-block__item">Мир</a> -->
        <a href="/jokes" class="menu-block__item">Программерский юмор</a>
        <a href="/blog" class="menu-block__item">Блог</a>
      </div>
      <a href="#" class="language-button" style="text-transform: uppercase">ru</a>
    </div>
  </div>
</div>